<p><%= t "forgot_password.email.click_link" %></p>
<%= edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "forgot_password.email.expire_message" %></p>
<p><%= t "forgot_password.email.more_info" %></p>
