<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("users.destroy.title"), user, data: { "turbo-method": :delete,
                                          turbo_confirm: t("users.destroy.sure") } %>
  <% end %>
</li>
